button .material-icons{
	margin-bottom: 12px;
}

.classified.ng-enter, .classified.ng-move {
	transition: 5.00s all;
	opacity: 0;
} 

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
	opacity: 1;
}

.classidied.ng-leave {
	animation : 0.4s, fade_classified;
}

@keyframes fade_classified {
	from {opacity : 1;  }
	to {opacity: 0; }
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


 